*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #333;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    color: #ffcc00;
}

.right-nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    text-align: left;
}

.content h2 {
    font-size: 32px;
}

.content p {
    font-size: 20px;
    margin-top: 10px;
}


/* Tablets */
@media (max-width: 900px) {
    .navbar {
        padding: 15px 20px;
    }
    .menu {
        gap: 15px;
    }
    .menu li a, .right-nav a {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .right-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}