/* div{
    border: solid black;
    height: 500px;
    width: 1000px;
}
h1{
    color: black;
    background-color: aqua;
}
P{
    color: black;
    background-color: greenyellow;
} */
 
        /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 700px;
            margin: 40px auto;
            background: #f7f1ed;
        }
        .title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .image-float {
            float: left;
            width: 180px;
            margin-right: 18px;
            margin-bottom: 8px;
            border-radius: 6px;
        }
        .content {
            font-size: 1.1em;
            color: #5b4c44;
        }
        .footer {
            clear: both;
            padding-top: 14px;
            color: #5b4c44;
            font-size: 1.08em;
        } */
         .container{
            border : 2px sloid #888;
            padding : 24px;
            max-width : 800px ;
            margin : 40
         }
