.container{
    display : flex;
    height : 600px;
   width : 1000px;
   background-color: aqua;
   border : 1px solid black;
   /* flex-wrap: wrap; */
   /* justify-content: space-between;
   align-items: center;
   align-content: space-between; */
   gap: 20px;

}
.item{
    height : 200px;
    width : 200px;
    border : 1px solid black;
    background-color: red;
    /* flex-grow: 1; */
}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}