.container{
    display : flex;
    height : 200px;
   width : 800px;
   background-color: aqua;
   border : 1px solid black;
    
}
.item{
    height : 100px;
    width : 100px;
    border : 1px solid black;

}